/* pagina do site: */
body{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;

}

/* painel do jogo: */
#game{

    background-color: #ccc;
    margin-top: 10rem;
    border: 2px solid #333;

}